{% raw %}
<div id="product">
    <div class="row">
        <div class="col">
            <p>In this session we will look into how to bind class and styles to the DOM elements.</p>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <p>Output:</p>
        </div>
        <div class="col">
            <p>Cart Total: {{cart_total}}</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <img :src="image" :alt="alt_text" :title="toolTip">
        </div>
        <div class="col">
            <div class="row">
                <div class="col">
                    <h5>{{product_name}}</h5>
                    <p><small class="text-primary">We Import Fresh stock daily from Australia</small></p>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p style="border-bottom: solid 1px #746a6a">Description:</p>
                </div>
            </div>
            <div class="row">
                <div v-for="detail in details" :key="detail.detail_id">
                    <div class="col">
                        <ul>
                            <li>Size: {{detail.size}}</li>
                            <li>Price: {{detail.price}}</li>
                            <li>Weight: {{detail.weight}}</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <p class="ml-3 mr-3">Colors:</p>
                <div v-for="detail in details" :key="detail.detail_id" class="colorbox"
                    :style="{backgroundColor: detail.color}" @mouseover="changeImage(detail.image)">
                </div>
                <small class="p-1 ml-3 text-primary">Mouse over to these colors to change product image</small>
            </div>
            <div class="row mt-2">
                <div class="col">
                    <button :class="{'btn-success':inStock}" :class="{'btn-secondary': !inStock}" @click="addToCart"
                        :disabled="!inStock">AddToCart</button><small class="ml-3">Click
                        on AddToCart, Cart Total value will change on top.</small>
                    <p><small>Id inStock is false button style changes from green to gray and it will be disable</small>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endraw %}
